/* About.module.css */

.about {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.aboutBottom {
  text-align: center;
  position: relative; /* Menambahkan position: relative; pada .aboutBottom */
}

.aboutBottom h1 {
  text-align: left;
  color: rgba(0, 0, 0, 0.996);
  margin-left: 10%;
}

.aboutBottom img {
  max-width: 30%;
  float: left;
}

.aboutBottom .biography {
  margin-top: 20px; /* Menambahkan margin-top pada biography */
}

.aboutBottom ul {
  list-style: none;
  font-size: 30px;
  padding: 0;
  margin-top: 10%;
  margin-right: 20%;
  text-align: center;
}

.aboutBottom li {
  margin-bottom: 8px;
  font-weight: bold;
}

.aboutBottom p {
  padding-top: 20px;
  clear: left;
}

