/* Contact.css */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px; /* Adjusted padding for better spacing */
  height: 100vh;
  background-color: #f8f8f8;
}

.content {
  width: 80%; /* Adjusted width for a more balanced layout */
  text-align: center;
}

.contact h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact label {
  margin-bottom: 8px;
  color: #333;
}

.content input,
.content textarea {
  padding: 20px; /* Increase padding for larger input boxes */
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact button {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact button:hover {
  background-color: #45a049;
}
